---
name: CI
on:
  pull_request:
    branches: [main]
env:
  BUILDER_BASE_IMAGE: elixir
  BUILDER_BASE_IMAGE_REGISTRY: docker.io
  BUILDER_BASE_IMAGE_REGISTRY_PATH: library
  # Google Artifact Registry Example:
  # BUILDER_BASE_IMAGE_REGISTRY: us-docker.pkg.dev
  # BUILDER_BASE_IMAGE_REGISTRY_PATH: $PROJECT_ID/$PATH
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        build-env:
          - dev
          - test
          - prod
        builder-base-image-vsn:
          - 1.14.0
    steps:
      - uses: actions/checkout@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
        id: buildx
        with:
          install: true
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/cache@v3
        id: cache
        with:
          # Cache deps, build, and package mgr dirs
          path: |
            deps
            _build
            .hex
            .mix
            .cache

          # Cache based on OS, BUILD_ENV, LANG, LANG_VSN, and hashFiles('**/lang.lock')
          # The default branch should cache the same without the hash for a restore
          # from latest merge to the default branch
          key: |
            ${{ matrix.build-env }}-${{ matrix.builder-base-image-vsn }}-${{ hashFiles('**/mix.lock') }}
          restore-keys: |
            ${{ matrix.build-env }}-${{ matrix.builder-base-image-vsn }}
      - name: Build and Push the Docker image
        uses: docker/build-push-action@v3
        with:
          push: true
          tags: |
            ghcr.io/${{ github.repository }}/container-dev-builder:${{ matrix.build-env }}-${{ matrix.builder-base-image-vsn }}-${{ github.sha }}
          context: .
          target: builder
          build-args: |
            BUILDER_REGISTRY=${{ env.BUILDER_BASE_IMAGE_REGISTRY }}
            BUILDER_REGISTRY_PATH=${{ env.BUILDER_BASE_IMAGE_REGISTRY_PATH }}
            BUILDER_BASE_IMAGE=${{ env.BUILDER_BASE_IMAGE }}
            BUILDER_BASE_IMAGE_TAG=${{ matrix.builder-base-image-vsn }}-alpine
            MIX_ENV=${{ matrix.build-env }}
            ELIXIR_VERSION=${{ matrix.builder-base-image-vsn }}
      - name: Copy Docker Contents to Host
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          docker container create --name cache ghcr.io/${{ github.repository }}/container-dev-builder:${{ matrix.build-env }}-${{ matrix.builder-base-image-vsn }}-${{ github.sha }}
          docker container cp cache:/opt/app/_build .
          docker container cp cache:/opt/app/.mix .
          docker container cp cache:/opt/app/.hex .
          docker container cp cache:/opt/app/.cache .
  check-yaml:
    runs-on: ubuntu-latest
    needs: build
    strategy:
      matrix:
        build-env:
          - dev
        builder-base-image-vsn:
          - 1.14.0
    steps:
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - run: |-
          docker container run ghcr.io/${{ github.repository }}/container-dev-builder:${{ matrix.build-env }}-${{ matrix.builder-base-image-vsn }}-${{ github.sha }} yamllint . --strict --format github
  check-formatted:
    runs-on: ubuntu-latest
    needs: build
    strategy:
      matrix:
        build-env:
          - dev
        builder-base-image-vsn:
          - 1.14.0
    steps:
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - run: |-
          docker container run ghcr.io/${{ github.repository }}/container-dev-builder:${{ matrix.build-env }}-${{ matrix.builder-base-image-vsn }}-${{ github.sha }} mix format --check-formatted
  dialyzer:
    runs-on: ubuntu-latest
    needs: build
    strategy:
      matrix:
        build-env:
          - test
        builder-base-image-vsn:
          - 1.14.0
    steps:
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - run: |-
          docker container run ghcr.io/${{ github.repository }}/container-dev-builder:${{ matrix.build-env }}-${{ matrix.builder-base-image-vsn }}-${{ github.sha }} mix dialyzer --format github
  credo:
    runs-on: ubuntu-latest
    needs: build
    strategy:
      matrix:
        build-env:
          - dev
        builder-base-image-vsn:
          - 1.14.0
    steps:
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - run: |-
          docker container run ghcr.io/${{ github.repository }}/container-dev-builder:${{ matrix.build-env }}-${{ matrix.builder-base-image-vsn }}-${{ github.sha }} mix credo
  unit-test:
    runs-on: ubuntu-latest
    needs: build
    strategy:
      matrix:
        build-env:
          - dev
        builder-base-image-vsn:
          - 1.14.0
    steps:
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - run: |-
          docker container run ghcr.io/${{ github.repository }}/container-dev-builder:${{ matrix.build-env }}-${{ matrix.builder-base-image-vsn }}-${{ github.sha }} mix test
